# OS X

.DS_Store

# Project

target/
/test-projects/invalid/trivial/build/
/test-projects/invalid/trivial/nbproject/private/
/test-projects/valid/trivial/build/
/test-projects/valid/trivial/nbproject/private/
