# OS X

.DS_Store

# Project

target/
/src/test/resources/test-projects/invalid/trivial/build/
/src/test/resources/test-projects/invalid/trivial/nbproject/private/
/src/test/resources/test-projects/valid/trivial/build/
/src/test/resources/test-projects/valid/trivial/nbproject/private/
/test-projects/invalid/trivial/build/
/test-projects/invalid/trivial/nbproject/private/
/test-projects/valid/trivial/build/
/test-projects/valid/trivial/nbproject/private/